.pyro {
    position: fixed;
    top:0; right: 0; bottom: 0; left:0;
    display: none;
    pointer-events: none;
    z-index: 20;
}
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: -158px -25.6666666667px #ea00ff, 42px -77.6666666667px #9500ff, -129px -281.6666666667px #a6ff00, -176px -98.6666666667px #0091ff, -161px -407.6666666667px #ff0011, 184px -96.6666666667px #00ffd0, -47px -338.6666666667px #00ff11, 86px -200.6666666667px #ff009d, -98px -65.6666666667px #ff1500, -66px -302.6666666667px #ff0099, -221px -78.6666666667px #ff00b3, -218px -56.6666666667px #0059ff, 249px -375.6666666667px #00ffc4, -22px -64.6666666667px #0022ff, -175px -261.6666666667px #00ff91, 90px -327.6666666667px #2b00ff, -182px -173.6666666667px darkorange, 52px -13.6666666667px #ff2b00, -234px -343.6666666667px #ff0026, -217px -224.6666666667px #ffea00, -99px -0.6666666667px #22ff00, -68px 5.3333333333px #00ff59, -159px 14.3333333333px #f200ff, 181px -54.6666666667px #ff00aa, -35px -386.6666666667px #ff2f00, 29px -94.6666666667px #ff3300, -2px -300.6666666667px #ff00d9, 245px -247.6666666667px #ee00ff, 70px -385.6666666667px #3300ff, -174px 76.3333333333px #ff0084, -212px -102.6666666667px #e6ff00, 180px -55.6666666667px #d000ff, -16px -244.6666666667px #a200ff, 161px -138.6666666667px #00e6ff, -229px -262.6666666667px #2b00ff, -163px -344.6666666667px #8400ff, 93px -374.6666666667px #d9ff00, -215px -351.6666666667px #00ffd0, 164px -321.6666666667px #ff0073, 199px -26.6666666667px #88ff00, -41px -341.6666666667px #ff0040, 45px -218.6666666667px #ff00a2, -209px -316.6666666667px #ffc800, -94px -322.6666666667px #00eeff, 51px -131.6666666667px #6aff00, 241px -346.6666666667px #ff0073, -191px -411.6666666667px #04ff00, 232px 63.3333333333px #ff00c8, 242px -369.6666666667px #ccff00, 61px -182.6666666667px #9500ff, 205px -345.6666666667px #8c00ff;
    }
}

@-moz-keyframes bang {
    to {
        box-shadow: -158px -25.6666666667px #ea00ff, 42px -77.6666666667px #9500ff, -129px -281.6666666667px #a6ff00, -176px -98.6666666667px #0091ff, -161px -407.6666666667px #ff0011, 184px -96.6666666667px #00ffd0, -47px -338.6666666667px #00ff11, 86px -200.6666666667px #ff009d, -98px -65.6666666667px #ff1500, -66px -302.6666666667px #ff0099, -221px -78.6666666667px #ff00b3, -218px -56.6666666667px #0059ff, 249px -375.6666666667px #00ffc4, -22px -64.6666666667px #0022ff, -175px -261.6666666667px #00ff91, 90px -327.6666666667px #2b00ff, -182px -173.6666666667px darkorange, 52px -13.6666666667px #ff2b00, -234px -343.6666666667px #ff0026, -217px -224.6666666667px #ffea00, -99px -0.6666666667px #22ff00, -68px 5.3333333333px #00ff59, -159px 14.3333333333px #f200ff, 181px -54.6666666667px #ff00aa, -35px -386.6666666667px #ff2f00, 29px -94.6666666667px #ff3300, -2px -300.6666666667px #ff00d9, 245px -247.6666666667px #ee00ff, 70px -385.6666666667px #3300ff, -174px 76.3333333333px #ff0084, -212px -102.6666666667px #e6ff00, 180px -55.6666666667px #d000ff, -16px -244.6666666667px #a200ff, 161px -138.6666666667px #00e6ff, -229px -262.6666666667px #2b00ff, -163px -344.6666666667px #8400ff, 93px -374.6666666667px #d9ff00, -215px -351.6666666667px #00ffd0, 164px -321.6666666667px #ff0073, 199px -26.6666666667px #88ff00, -41px -341.6666666667px #ff0040, 45px -218.6666666667px #ff00a2, -209px -316.6666666667px #ffc800, -94px -322.6666666667px #00eeff, 51px -131.6666666667px #6aff00, 241px -346.6666666667px #ff0073, -191px -411.6666666667px #04ff00, 232px 63.3333333333px #ff00c8, 242px -369.6666666667px #ccff00, 61px -182.6666666667px #9500ff, 205px -345.6666666667px #8c00ff;
    }
}

@-o-keyframes bang {
    to {
        box-shadow: -158px -25.6666666667px #ea00ff, 42px -77.6666666667px #9500ff, -129px -281.6666666667px #a6ff00, -176px -98.6666666667px #0091ff, -161px -407.6666666667px #ff0011, 184px -96.6666666667px #00ffd0, -47px -338.6666666667px #00ff11, 86px -200.6666666667px #ff009d, -98px -65.6666666667px #ff1500, -66px -302.6666666667px #ff0099, -221px -78.6666666667px #ff00b3, -218px -56.6666666667px #0059ff, 249px -375.6666666667px #00ffc4, -22px -64.6666666667px #0022ff, -175px -261.6666666667px #00ff91, 90px -327.6666666667px #2b00ff, -182px -173.6666666667px darkorange, 52px -13.6666666667px #ff2b00, -234px -343.6666666667px #ff0026, -217px -224.6666666667px #ffea00, -99px -0.6666666667px #22ff00, -68px 5.3333333333px #00ff59, -159px 14.3333333333px #f200ff, 181px -54.6666666667px #ff00aa, -35px -386.6666666667px #ff2f00, 29px -94.6666666667px #ff3300, -2px -300.6666666667px #ff00d9, 245px -247.6666666667px #ee00ff, 70px -385.6666666667px #3300ff, -174px 76.3333333333px #ff0084, -212px -102.6666666667px #e6ff00, 180px -55.6666666667px #d000ff, -16px -244.6666666667px #a200ff, 161px -138.6666666667px #00e6ff, -229px -262.6666666667px #2b00ff, -163px -344.6666666667px #8400ff, 93px -374.6666666667px #d9ff00, -215px -351.6666666667px #00ffd0, 164px -321.6666666667px #ff0073, 199px -26.6666666667px #88ff00, -41px -341.6666666667px #ff0040, 45px -218.6666666667px #ff00a2, -209px -316.6666666667px #ffc800, -94px -322.6666666667px #00eeff, 51px -131.6666666667px #6aff00, 241px -346.6666666667px #ff0073, -191px -411.6666666667px #04ff00, 232px 63.3333333333px #ff00c8, 242px -369.6666666667px #ccff00, 61px -182.6666666667px #9500ff, 205px -345.6666666667px #8c00ff;
    }
}

@-ms-keyframes bang {
    to {
        box-shadow: -158px -25.6666666667px #ea00ff, 42px -77.6666666667px #9500ff, -129px -281.6666666667px #a6ff00, -176px -98.6666666667px #0091ff, -161px -407.6666666667px #ff0011, 184px -96.6666666667px #00ffd0, -47px -338.6666666667px #00ff11, 86px -200.6666666667px #ff009d, -98px -65.6666666667px #ff1500, -66px -302.6666666667px #ff0099, -221px -78.6666666667px #ff00b3, -218px -56.6666666667px #0059ff, 249px -375.6666666667px #00ffc4, -22px -64.6666666667px #0022ff, -175px -261.6666666667px #00ff91, 90px -327.6666666667px #2b00ff, -182px -173.6666666667px darkorange, 52px -13.6666666667px #ff2b00, -234px -343.6666666667px #ff0026, -217px -224.6666666667px #ffea00, -99px -0.6666666667px #22ff00, -68px 5.3333333333px #00ff59, -159px 14.3333333333px #f200ff, 181px -54.6666666667px #ff00aa, -35px -386.6666666667px #ff2f00, 29px -94.6666666667px #ff3300, -2px -300.6666666667px #ff00d9, 245px -247.6666666667px #ee00ff, 70px -385.6666666667px #3300ff, -174px 76.3333333333px #ff0084, -212px -102.6666666667px #e6ff00, 180px -55.6666666667px #d000ff, -16px -244.6666666667px #a200ff, 161px -138.6666666667px #00e6ff, -229px -262.6666666667px #2b00ff, -163px -344.6666666667px #8400ff, 93px -374.6666666667px #d9ff00, -215px -351.6666666667px #00ffd0, 164px -321.6666666667px #ff0073, 199px -26.6666666667px #88ff00, -41px -341.6666666667px #ff0040, 45px -218.6666666667px #ff00a2, -209px -316.6666666667px #ffc800, -94px -322.6666666667px #00eeff, 51px -131.6666666667px #6aff00, 241px -346.6666666667px #ff0073, -191px -411.6666666667px #04ff00, 232px 63.3333333333px #ff00c8, 242px -369.6666666667px #ccff00, 61px -182.6666666667px #9500ff, 205px -345.6666666667px #8c00ff;
    }
}

@keyframes bang {
    to {
        box-shadow: -158px -25.6666666667px #ea00ff, 42px -77.6666666667px #9500ff, -129px -281.6666666667px #a6ff00, -176px -98.6666666667px #0091ff, -161px -407.6666666667px #ff0011, 184px -96.6666666667px #00ffd0, -47px -338.6666666667px #00ff11, 86px -200.6666666667px #ff009d, -98px -65.6666666667px #ff1500, -66px -302.6666666667px #ff0099, -221px -78.6666666667px #ff00b3, -218px -56.6666666667px #0059ff, 249px -375.6666666667px #00ffc4, -22px -64.6666666667px #0022ff, -175px -261.6666666667px #00ff91, 90px -327.6666666667px #2b00ff, -182px -173.6666666667px darkorange, 52px -13.6666666667px #ff2b00, -234px -343.6666666667px #ff0026, -217px -224.6666666667px #ffea00, -99px -0.6666666667px #22ff00, -68px 5.3333333333px #00ff59, -159px 14.3333333333px #f200ff, 181px -54.6666666667px #ff00aa, -35px -386.6666666667px #ff2f00, 29px -94.6666666667px #ff3300, -2px -300.6666666667px #ff00d9, 245px -247.6666666667px #ee00ff, 70px -385.6666666667px #3300ff, -174px 76.3333333333px #ff0084, -212px -102.6666666667px #e6ff00, 180px -55.6666666667px #d000ff, -16px -244.6666666667px #a200ff, 161px -138.6666666667px #00e6ff, -229px -262.6666666667px #2b00ff, -163px -344.6666666667px #8400ff, 93px -374.6666666667px #d9ff00, -215px -351.6666666667px #00ffd0, 164px -321.6666666667px #ff0073, 199px -26.6666666667px #88ff00, -41px -341.6666666667px #ff0040, 45px -218.6666666667px #ff00a2, -209px -316.6666666667px #ffc800, -94px -322.6666666667px #00eeff, 51px -131.6666666667px #6aff00, 241px -346.6666666667px #ff0073, -191px -411.6666666667px #04ff00, 232px 63.3333333333px #ff00c8, 242px -369.6666666667px #ccff00, 61px -182.6666666667px #9500ff, 205px -345.6666666667px #8c00ff;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
